.mui-content .mui-input-group .mui-input-row {
  position: relative;
}
.mui-content .mui-input-group .mui-input-row .code {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  color: #C35367;
  font-size: 14px;
}
.mui-content .mui-input-group .mui-button-row {
  padding: 5px 10px;
}
.mui-content .mui-input-group .mui-button-row .mui-btn-primary {
  width: 100%;
  background-color: #C35367;
  border: 1px solid #C35367;
}
.mui-content .login-now,
.mui-content .register-now {
  margin-top: 10px;
  color: #C35367;
  font-size: 14px;
  display: block;
  margin-right: 10px;
  text-align: right;
}
