.mui-content {
    background-color: #fff;
}
.nav-links {
    padding: 10px;
    width: 100%;
    background-color: #fff;
}
.nav-links ul {
    width: 100%;
}
.nav-links ul li {
    width: 33.33%;
    float: left;
}
.nav-links ul li a {
    display: block;
    width: 100%;
}
.nav-links ul li a img {
    display: block;
    width: 100%;
}
.brand .title {
    width: 100%;
}
.brand ul li {
    float: left;
    width: 25%;
}
.brand ul li a {
    width: 100%;
    display: block;
}
.brand ul li a img {
    width: 100%;
    display: block;
}
.product .title {
    width: 100%;
}
.product ul {
    padding: 10px;
}
.product ul li {
    width: 50%;
    float: left;
    padding: 5px;
}
.product ul li a {
    display: block;
    width: 100%;
    padding: 5px;
    box-shadow: 0px 0px 5px #ccc;
    text-align: center;
}
.product ul li a img {
    width: 100%;
}
.product ul li a p {
    padding: 5px;
}
.product ul li a span {
    color: red;
    font-size: 14px;
}
.product ul li a del {
    color: #ccc;
    font-size: 14px;
}
.product ul li a .buy-now {
    width: 80px;
    height: 31px;
    line-height: 31px;
    background-color: #c35367;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    margin: 10px auto 5px;
    font-size: 16px;
}